@charset "UTF-8";
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  min-width: 1200px;
  /*минимальная ширина. Внимание, в макете барбершопа размер боди, помнишь, там где новости и фотогалерея, там от начала элемента до конца-940. +10 на всякий случай с двух сторон*/
  margin: 0;
  /*Устанавливает величину отступа от каждого края элемента. Отступом является пространство от границы текущего элемента до внутренней границы его родительского элемента
  * Свойство margin задаёт отступ между границами блока и его родителем и соседями.*/
  padding: 0;
  /*станавливает значение полей вокруг содержимого элемента. Полем называется расстояние от внутреннего края рамки элемента до воображаемого прямоугольника, ограничивающего его содержимое
  * Свойство padding задаёт отступ от границы блока до содержимого, ещё эти отступы называют «полями». */
  font-family: "PT Sans Narrow", Arial, sans-serif;
  /*указываем шрифт для всего глубже <body>, если у какого то элемента
  *   в макете другой шрифт, то там уже лично прописывать элементу шрифт (по правилу каскада)*/
  font-size: 14px;
  /*стили по умолчанию, размер шрифта-14 пикселей (можно глянуть в макете*/
  line-height: 24px;
  /*межстрочный интервал, тоже смотрится в макете*/
  font-weight: 700;
  /*шрифт по умолчанию, в данный момент полужирный 700, смотри макет*/
  color: #ffffff;
  /*шрифт по умолчанию, я поставил белый, екстра вайт смотри root*/
  text-transform: uppercase;
  /*апперкейс означает, что все нахуярено капсом*/
  background-color: #000000;
  /*ну тут понятно, бекграунд черный, что бы видно было текст?всегда указываем фон, что бы если какая то картинка не загрузилась, было видно текст*/
  background-image: url("images/images_catalog/jpg/white background.jpg");
  /*добавляем картинку на бекграунд*/
  background-position: top center;
  /*центрируем ее*/
  background-repeat: repeat;
  /*тоже центрируем, видимо что бы она не повторялась*/
}
body a {
  text-decoration: none;
}
body img {
  max-width: 100%;
  /*не даем картинкам быть больше, чем их контейнер*/
  height: auto;
}
body .page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-header {
  outline: 5px solid red;
  outline-offset: -5px;
  /*вот как раз без логотипа весю шапку залили черным*/
  /*а справа и слева?? имеет 10 пкс отступы*/
  /*logo*/
  /*Container*/
}
.main-header .main-navigation {
  font-size: 16px;
  /*у нас в шапке другой размер шрифтов*/
  line-height: 20px;
  /*у нас в шапке другой размер шрифтов*/
  color: #ffffff;
  /*я не могу понять, за что эта срань отвечает, но меняет цвет li шки, точки возле пунктов*/
  background-color: transparent;
  /*фон у нас прозрачный, потом будем пытаться его сделать черным, хз почему не ща. Я понял. в мейн навигейшене есть логотип, нам нельзя под ним фон черный делать*/
  display: flex;
  align-items: center;
}
.main-header .main-navigation-wrapper {
  width: 100%;
  /* ширину добавили после флексов, что бы черная хуйня на всю длину растянулась*/
  background-color: #000000;
}
.main-header .container {
  width: 940px;
  margin: 0 auto;
  /*маржин 0 авто, значит что он выравняется по центру*/
  padding: 0 10px;
}
.main-header .site-navigation {
  outline: 5px solid red;
  display: flex;
  width: 620px;
  margin: 0;
  padding: 0;
  min-height: 72px;
  list-style: none;
  /* делаем тоже самое со всеми элементами хедера */
  justify-content: space-between;
  align-items: center;
}
.main-header .site-navigation a {
  color: #ffffff;
  display: block;
  padding: 25px 20px;
}
.main-header .site-navigation a:hover,
.main-header .site-navigation a:focus {
  background-color: #242424;
}
.main-header .main-header-logo {
  padding: 0;
  margin: 0;
  margin-left: 150px;
  width: 111px;
  height: 24px;
}
.main-header a {
  color: #ffffff;
}
.main-header .user-navigation {
  max-width: 140px;
  /* спецом поставили здесь макс ширину, что бы другой блок (кнопка вход) не выебывалась, я не понимаю почему там не стоит min with но хуй знает*/
  /*login link*/
}
.main-header .user-navigation a:hover,
.main-header .user-navigation a:focus {
  background-color: #242424;
}
.main-header .user-navigation a {
  color: #ffffff;
  display: block;
  padding: 25px 20px;
}

.container_catalog {
  width: 940px;
  color: #000000;
  background-color: #ffffff;
  background-image: url("images/images_catalog/jpg/white background.jpg");
  background-position: center, 0 0;
  background-repeat: repeat;
}
.container_catalog .care-products {
  margin: 0;
  margin-left: 140px;
  margin-top: 61px;
}
.container_catalog .care-products h2 {
  margin: 0;
  font-size: 30px;
  line-height: 42px;
}
.container_catalog .care-products .care-products-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 15px;
  width: 295px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.container_catalog .care-products .care-products-list .care-products-li {
  color: #ABA9A7;
}
.container_catalog .care-products .care-products-list .button-care-product-list {
  font: inherit;
  color: var(--basic-black);
}
.container_catalog .product-catalog {
  width: 940px;
  outline: 5px solid darkgoldenrod;
  outline-offset: -15px;
  margin: 0;
  padding: 0;
  margin-top: 49px;
  margin-left: 140px;
  display: flex;
  justify-content: space-between;
}
.container_catalog .product-catalog .product-catalog-product-filter {
  margin: 0;
  margin-top: 10px;
  max-width: 167px;
  display: flex;
  justify-content: flex-start;
  outline: 5px solid blue;
  outline-offset: -5px;
}
.container_catalog .product-catalog .product-catalog-product-filter .product-catalog-product-filter-product-group {
  color: #000000;
  outline: 5px solid blue;
  outline-offset: -5px;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  list-style: none;
  border: none;
}
.container_catalog .product-catalog .product-catalog-product-filter .product-catalog-product-filter-product-group legend {
  font-size: 24px;
}
.container_catalog .product-catalog .product-catalog-product-filter .product-catalog-product-filter-product-group .product_group {
  outline: 5px solid green;
  outline-offset: -5px;
  margin: 0;
  padding: 0;
  margin-top: 28px;
  height: 110px;
  list-style: none;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container_catalog .product-catalog .product-catalog-product-filter .product-catalog-product-filter-manufacturers {
  color: #000000;
  outline: 5px solid fuchsia;
  outline-offset: -5px;
  max-width: 167px;
  margin: 0;
  padding: 0;
  border: none;
}
.container_catalog .product-catalog .product-catalog-product-filter .product-catalog-product-filter-manufacturers legend {
  font-size: 24px;
}
.container_catalog .product-catalog .product-catalog-product-filter .product-catalog-product-filter-manufacturers .product-filter-list {
  height: 203px;
  list-style: none;
  outline: 5px solid gold;
  outline-offset: -5px;
  padding: 0;
  margin: 0;
  margin-top: 28px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}
.container_catalog .product-catalog .product-catalog-product-filter .button-submit {
  margin: 0;
  margin-top: 50px;
  width: 112px;
  height: 43px;
}
.container_catalog .product-catalog .product-catalog-catalog_list {
  width: 700px;
}
.container_catalog .product-catalog .product-catalog-catalog_list .shop_list {
  list-style: none;
  padding: 20px;
  outline: 5px solid darkblue;
  outline-offset: -5px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.container_catalog .product-catalog .product-catalog-catalog_list .shop_list h3 {
  color: #000000;
}
.container_catalog .product-catalog .product-catalog-catalog_list .shop_list .catalog_list_background_product {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  width: 220px;
  height: 286px;
}
.container_catalog .product-catalog .product-catalog-catalog_list .shop_list .catalog_list_background_product .white-table-shop-list {
  margin: 0;
  padding: 0;
  margin-left: 16px;
  margin-bottom: 12px;
  text-align: start;
}
.container_catalog .product-catalog .product-catalog-catalog_list .shop_list .catalog_list_background_product .buttons-shop-list {
  margin: 0;
  padding: 0;
  margin-left: 16px;
  margin-right: 17px;
  padding-bottom: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container_catalog .product-catalog .product-catalog-catalog_list .shop_list .catalog_list_background_product .buttons-shop-list .grey-background-price {
  background-color: #e5e5e5;
  margin: 0;
  padding: 0;
  width: 109px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_catalog .page_list {
  outline: 5px solid pink;
  outline-offset: -10px;
}

.button {
  font: inherit;
  color: #ffffff;
  text-transform: uppercase;
  /*все пишется прописными буквами*/
  vertical-align: middle;
  /*Выравнивает элемент по вертикали относительно своего родителя, окружающего текста или ячейки таблицы.*/
  background-color: #000000;
  border: none;
}
.button:active, .button:hover, .button:focus {
  background-color: #663d15;
}
.button .disabled {
  cursor: default;
  opacity: 0.5;
  /*полупрозрачная*/
  background-color: #000000;
}

.main-footer {
  padding: 59px;
  margin-top: 65px;
  color: #ffffff;
  background-color: var(--basic-black);
  background-image: url("images/images_catalog/jpg/black background.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}
.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.main-footer .container .footer-contacts {
  margin: 0;
  width: 373px;
}
.main-footer .container .footer-contacts p {
  margin: 0;
}
.main-footer .container .footer-contacts a {
  color: #ffffff;
  text-decoration: underline;
}
.main-footer .container .footer-contactsa:hover, .main-footer .container .footer-contactsa:focus {
  text-decoration: none;
}
.main-footer .container .footer-social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 141px;
  justify-self: center;
  text-align: center;
}
.main-footer .container .footer-social ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.main-footer .container .footer-social h2 {
  font-size: 14px;
}
.main-footer .container .footer-social .social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  width: 43px;
  height: 43px;
  color: inherit;
  background-color: #000000;
}
.main-footer .container .footer-social .social-button:hover, .main-footer .container .footer-social .social-button:focus {
  background-color: #ffffff;
}
.main-footer .container .footer-social .social-button:hover path, .main-footer .container .footer-social .social-button:focus path {
  fill: #000000;
}
.main-footer .container .footer-social .social-button-list {
  display: flex;
}
.main-footer .container .footer-copyright {
  justify-self: end;
  display: block;
  width: 140px;
}
.main-footer .container .footer-copyright .button:hover, .main-footer .container .footer-copyright .button:focus {
  color: #000000;
  background-color: #ffffff;
}
.main-footer .container .footer-copyright p {
  margin-bottom: 12px;
  margin-left: 51px;
}
.main-footer .container .footer-copyright .button-copyright {
  width: 140px;
  margin: 0;
  padding: 10px 29px;
}

.modal {
  color: #000000;
  background-color: #ffffff;
  background-image: url("images/images_catalog/jpg/white background.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}
.modal .modal h2 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 42px;
}
.modal .login-form p {
  margin: 0;
  margin-bottom: 10px;
}
.modal .login-form .login-help {
  margin: 0;
  margin-bottom: 15px;
}
.modal .modal a {
  color: #000000;
  text-decoration: underline;
}

.login-form input[type=email],
.login-form input[type=password] {
  font: inherit;
  /*отнаследуйся*/
  color: #000000;
  background-color: transparent;
  /*фон прозрачный*/
  text-transform: uppercase;
  /*в логин форме все капсом*/
  border: 2px solid #000000;
  /*restore*/
}
.login-form input[type=email] .login-form input:focus,
.login-form input[type=password] .login-form input:focus {
  border-color: #663d15;
}
.login-form input[type=email] .login-icon-user,
.login-form input[type=password] .login-icon-user {
  background-image: url("images/images_catalog/jpg/account.svg");
  background-position: 270px center;
  background-repeat: no-repeat;
}
.login-form input[type=email] .login-icon-password,
.login-form input[type=password] .login-icon-password {
  background-image: url("images/images_catalog/jpg/lock.svg");
  background-position: 270px center;
  background-repeat: no-repeat;
}
.login-form input[type=email] .restore,
.login-form input[type=password] .restore {
  color: #000000;
  text-decoration: underline;
}
.login-form input[type=email] .restore:hover,
.login-form input[type=email] .restore:focus,
.login-form input[type=password] .restore:hover,
.login-form input[type=password] .restore:focus {
  text-decoration: none;
}

/*# sourceMappingURL=Catalog-style.css.map */
