@charset "UTF-8";
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

html {
  height: 100%;
}

body {
  min-width: 960px;
  /*минимальная ширина. Внимание, в макете барбершопа размер боди, помнишь, там где новости и фотогалерея, там от начала элемента до конца-940. +10 на всякий случай с двух сторон*/
  margin: 0;
  /*Устанавливает величину отступа от каждого края элемента. Отступом является пространство от границы текущего элемента до внутренней границы его родительского элемента
  * Свойство margin задаёт отступ между границами блока и его родителем и соседями.*/
  padding: 0;
  /*станавливает значение полей вокруг содержимого элемента. Полем называется расстояние от внутреннего края рамки элемента до воображаемого прямоугольника, ограничивающего его содержимое
  * Свойство padding задаёт отступ от границы блока до содержимого, ещё эти отступы называют «полями». */
  font-family: "PT Sans Narrow", Arial, sans-serif;
  /*указываем шрифт для всего глубже <body>, если у какого то элемента
  *   в макете другой шрифт, то там уже лично прописывать элементу шрифт (по правилу каскада)*/
  font-size: 14px;
  /*стили по умолчанию, размер шрифта-14 пикселей (можно глянуть в макете*/
  line-height: 24px;
  /*межстрочный интервал, тоже смотрится в макете*/
  font-weight: 700;
  /*шрифт по умолчанию, в данный момент полужирный 700, смотри макет*/
  color: #ffffff;
  /*шрифт по умолчанию, я поставил белый, екстра вайт смотри root*/
  text-transform: uppercase;
  /*апперкейс означает, что все нахуярено капсом*/
  background-color: #000000;
  /*ну тут понятно, бекграунд черный, что бы видно было текст?всегда указываем фон, что бы если какая то картинка не загрузилась, было видно текст*/
  background-image: url("images/images_catalog/jpg/white background.jpg");
  /*добавляем картинку на бекграунд*/
  background-position: top center;
  /*центрируем ее*/
  background-repeat: repeat;
  /*тоже центрируем, видимо что бы она не повторялась*/
  height: 100%;
  display: flex;
  flex-direction: column;
}
body a {
  text-decoration: none;
}
body img {
  max-width: 100%;
  /*не даем картинкам быть больше, чем их контейнер*/
  height: auto;
}
body .page {
  height: 100%;
}
body .page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-header {
  /*logo*/
}
.main-header .main-navigation-wrapper {
  width: 100%;
  /* ширину добавили после флексов, что бы черная хуйня на всю длину растянулась*/
  background-color: #000000;
  /*вот как раз без логотипа весю шапку залили черным*/
}
.main-header .main-navigation-wrapper .main-navigation {
  font-size: 16px;
  /*у нас в шапке другой размер шрифтов*/
  line-height: 20px;
  /*у нас в шапке другой размер шрифтов*/
  color: #ffffff;
  /*я не могу понять, за что эта срань отвечает, но меняет цвет li шки, точки возле пунктов*/
  background-color: transparent;
  /*фон у нас прозрачный, потом будем пытаться его сделать черным, хз почему не ща. Я понял. в мейн навигейшене есть логотип, нам нельзя под ним фон черный делать*/
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-header .container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-header .site-navigation {
  display: flex;
  width: 620px;
  margin: 0;
  padding: 0;
  min-height: 72px;
  list-style: none;
  /* делаем тоже самое со всеми элементами хедера */
  justify-content: space-between;
  align-items: center;
}
.main-header .site-navigation a {
  color: #ffffff;
  display: block;
  padding: 26px 22px;
}
.main-header .site-navigation a:hover,
.main-header .site-navigation a:focus {
  background-color: #242424;
}
.main-header .shop-underline {
  position: relative;
}
.main-header .shop-underline::after {
  content: "";
  position: absolute;
  top: 68px;
  left: 22px;
  width: 57px;
  height: 4px;
  background-color: white;
}
.main-header .shop-underline:hover::after, .main-header .shop-underline:focus::after, .main-header .shop-underline:active::after {
  opacity: 0;
}
.main-header .main-header-logo {
  padding: 0;
  margin: 0;
  margin-right: 40px;
  width: 111px;
  height: 24px;
}
.main-header a {
  color: #ffffff;
}
.main-header .user-navigation {
  margin-left: 182px;
  max-width: 140px;
}
.main-header .user-navigation .login-link {
  padding-left: 50px;
  position: relative;
}
.main-header .user-navigation .login-link:before {
  content: "";
  position: absolute;
  top: 27px;
  left: 24px;
  width: 16px;
  height: 18px;
  background-image: url("images/images_catalog/jpg/log in white.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.main-header .user-navigation .login-link:hover::before, .main-header .user-navigation .login-link:focus::before, .main-header .user-navigation .login-link:active::before {
  opacity: 1;
}
.main-header .user-navigation a {
  color: #ffffff;
  display: block;
  padding: 25px 20px;
}
.main-header .user-navigation a:hover, .main-header .user-navigation a:focus {
  background-color: #242424;
}

.product-content {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  color: #000000;
  background-color: #ffffff;
  background-image: url("images/images_catalog/jpg/white background.jpg");
  background-position: center, 0 0;
  background-repeat: repeat;
  flex: 1 0 auto;
}
.product-content .care-products {
  width: 100%;
  margin: 0;
  margin-top: 61px;
}
.product-content .care-products h2 {
  margin: 0;
  font-size: 30px;
  line-height: 42px;
}
.product-content .care-products .care-products-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 15px;
  width: 589px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.product-content .care-products .product-info-li {
  color: #ABA9A7;
}
.product-content .care-products .button-care-product-list {
  font: inherit;
  color: var(--basic-black);
  position: relative;
}
.product-content .care-products .button-care-product-list::after {
  content: "";
  position: absolute;
  right: -23px;
  bottom: 6px;
  width: 7px;
  height: 7px;
  background-color: black;
  transform: rotate(45deg);
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.main-content .pthoto-list {
  list-style: none;
  padding-left: 0;
  width: 460px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-content .pthoto-list img {
  padding: 0;
}
.main-content .text-menu {
  margin-left: 89px;
  max-width: 390px;
  width: 100%;
}
.main-content .text-menu .product-info {
  width: 390px;
}
.main-content .text-menu .product-info .vendor-code {
  width: 390px;
  display: flex;
  justify-content: space-between;
}
.main-content .text-menu .product-info .vendor-code .grey-code {
  color: #ABA9A7;
}
.main-content .text-menu .product-info .main-text-menu {
  width: 390px;
  margin-top: 29px;
}
.main-content .text-menu .product-info .main-text-menu .main-text {
  width: 390px;
  height: 178px;
}
.main-content .text-menu .product-info .buttons-shop-list {
  display: flex;
}
.main-content .text-menu .product-info .buttons-shop-list .grey-background-price {
  background-color: #e5e5e5;
  margin: 0;
  padding: 0;
  width: 109px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content .text-menu .product-info .buttons-shop-list .button-shop {
  width: 78px;
  height: 43px;
}
.main-content .text-menu .in-set {
  margin-top: 62px;
}
.main-content .text-menu .in-set h3 {
  font-size: 24px;
}
.main-content .text-menu .in-set .set-list {
  list-style: none;
  margin: 0;
  padding-left: 20px;
}
.main-content .text-menu .in-set .set-list .set-list-rotate {
  font: inherit;
  color: var(--basic-black);
  position: relative;
}
.main-content .text-menu .in-set .set-list .set-list-rotate::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 9px;
  width: 7px;
  height: 7px;
  background-color: black;
  transform: rotate(45deg);
}

.button {
  text-align: center;
  font: inherit;
  color: #ffffff;
  text-transform: uppercase;
  /*все пишется прописными буквами*/
  vertical-align: middle;
  /*Выравнивает элемент по вертикали относительно своего родителя, окружающего текста или ячейки таблицы.*/
  background-color: #000000;
  border: none;
}
.button:active, .button:hover, .button:focus {
  background-color: #663d15;
}
.button .disabled {
  cursor: default;
  opacity: 0.5;
  /*полупрозрачная*/
  background-color: #000000;
}

.main-footer {
  padding: 59px;
  margin-top: 65px;
  color: #ffffff;
  background-color: var(--basic-black);
  background-image: url("images/images_catalog/jpg/black background.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  height: auto;
  flex-shrink: 0;
}
.main-footer .container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.main-footer .container .footer-contacts {
  margin: 0;
  width: 373px;
}
.main-footer .container .footer-contacts p {
  margin: 0;
}
.main-footer .container .footer-contacts a {
  color: #ffffff;
  text-decoration: underline;
}
.main-footer .container .footer-contactsa:hover, .main-footer .container .footer-contactsa:focus {
  text-decoration: none;
}
.main-footer .container .footer-social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 141px;
  justify-self: center;
  text-align: center;
}
.main-footer .container .footer-social ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.main-footer .container .footer-social h2 {
  font-size: 14px;
}
.main-footer .container .footer-social .social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  width: 43px;
  height: 43px;
  color: inherit;
  background-color: #000000;
}
.main-footer .container .footer-social .social-button:hover, .main-footer .container .footer-social .social-button:focus {
  background-color: #ffffff;
}
.main-footer .container .footer-social .social-button:hover path, .main-footer .container .footer-social .social-button:focus path {
  fill: #000000;
}
.main-footer .container .footer-social .social-button-list {
  display: flex;
}
.main-footer .container .footer-copyright {
  justify-self: end;
  display: block;
  width: 140px;
}
.main-footer .container .footer-copyright .button:hover, .main-footer .container .footer-copyright .button:focus {
  color: #000000;
  background-color: #ffffff;
}
.main-footer .container .footer-copyright p {
  margin-bottom: 12px;
  margin-left: 51px;
}
.main-footer .container .footer-copyright .button-copyright {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 10px 30px;
}

/*# sourceMappingURL=product_style.css.map */
