/*variables */
:root { /*Аналог Html в css*/
    --basic-black: #000000;
    --basic-dark: #242424;
    --basic-grey: #1a1a1a;
    --ultra-grey: #aba9a7;
    --normal-white: #f9f6f3;
    --extra-white: #ffffff;

    --special: #663d15;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;

}

/*Global*/ /*все что после двоеточия-псевдокласс, который указан в html*/
body {
    min-width: 960px; /*минимальная ширина. Внимание, в макете барбершопа размер боди, помнишь, там где новости и фотогалерея, там от начала элемента до конца-940. +10 на всякий случай с двух сторон*/
    margin: 0;
    /*Устанавливает величину отступа от каждого края элемента. Отступом является пространство от границы текущего элемента до внутренней границы его родительского элемента
       Свойство margin задаёт отступ между границами блока и его родителем и соседями.*/
    padding: 0;
    /*станавливает значение полей вокруг содержимого элемента. Полем называется расстояние от внутреннего края рамки элемента до воображаемого прямоугольника, ограничивающего его содержимое
       Свойство padding задаёт отступ от границы блока до содержимого, ещё эти отступы называют «полями». */
    font-family: "PT Sans Narrow", Arial, sans-serif;
    /*указываем шрифт для всего глубже <body>, если у какого то элемента
         в макете другой шрифт, то там уже лично прописывать элементу шрифт (по правилу каскада)*/
    font-size: 14px; /*стили по умолчанию, размер шрифта-14 пикселей (можно глянуть в макете*/
    line-height: 24px; /*межстрочный интервал, тоже смотрится в макете*/
    font-weight: 700; /*шрифт по умолчанию, в данный момент полужирный 700, смотри макет*/
    color: var(--extra-white); /*шрифт по умолчанию, я поставил белый, екстра вайт смотри root*/
    text-transform: uppercase; /*апперкейс означает, что все нахуярено капсом*/
    background-color: var(--basic-black); /*ну тут понятно, бекграунд черный, что бы видно было текст?всегда указываем фон, что бы если какая то картинка не загрузилась, было видно текст*/
    background-image: url("images/png/background.png"); /*добавляем картинку на бекграунд*/
    background-position: top center; /*центрируем ее*/
    background-repeat: no-repeat; /*тоже центрируем, видимо что бы она не повторялась*/
}

a {
    text-decoration: none; /*убираем нижние подчеркивания для ссылок*/
}

img {
    max-width: 100%; /*не даем картинкам быть больше, чем их контейнер*/
    height: auto; /*что бы картинка сохраняла пропорции, не важно как она сожмется, она всегда будет такой какую мы указали.*/
}

/*grid*/
.page {
    height: 100%; /* делаем высоту всей страницы 100%*/
}

.page-body { /* настраиваем боди, миню высоту 100%, отображаем гриды, grid template-rows- задаем размеры блокам в порядке очереди, мин контент для шапки, 1fr-все что есть для всего контента в центре и мин контент для футера*/
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start; /* что бы все элементы начинались сверху */
}

/*main header*/
.main-header { /*подсчевичаем шапку что бы понимать че и как, ставим маржин, оутлайнном подсвечиваем, оутлайн-оффсет обводит всю шапку по периметру*/
    margin-bottom: 70px;

}


/*Main Navigation*/
.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px; /*у нас в шапке другой размер шрифтов*/
    line-height: 20px; /*у нас в шапке другой размер шрифтов*/
    color: var(--extra-white); /*я не могу понять, за что эта срань отвечает, но меняет цвет li шки, точки возле пунктов*/
    background-color: transparent; /*фон у нас прозрачный, потом будем пытаться его сделать черным, хз почему не ща. Я понял. в мейн навигейшене есть логотип, нам нельзя под ним фон черный делать*/
}

.main-navigation-wrapper {
    width: 100%; /* ширину добавили после флексов, что бы черная хуйня на всю длину растянулась*/
    margin-bottom: 60px; /* хуй знает нахуй нижний отступ тут*/
    background-color: var(--basic-black); /*вот как раз без логотипа весю шапку залили черным*/
}

.main-navigation-wrapper .container {
    display: flex;
    justify-content: space-between; /*флекс внутри флекса, мы поделили информацию новости прайслист и тд в хедере и кнопку вход по разным углам*/
}

.site-navigation {
    list-style: none; /*убрали буллеты с лишек*/
}

/*сейчас будет очень сложно. То что внизу-мы хотим сделать весь текст белым, включая ссылки. а что бы логотип( лектор почему то думает что логотип-ссылка на саму себя (на главную стр)
так вот, он делает так, что бы все ссылки кроме ссылок на самих себя имели черный фон.
 */
.site-navigation-current a:not([href]) {
    background-color: var(--basic-black);
}

/*logo*/
.main-header-logo {
    width: 371px;
    height: 155px;
    order: 2; /*переместили логотип туда, куда нужно*/

}

/*Container*/
.container { /*задали ширину конейтеров, в рамках наших направляющих по макету*/
    width: 940px;
    margin: 0 auto; /*маржин 0 авто, значит что он выравняется по центру*/
    padding: 0 10px; /*а справа и слева?? имеет 10 пкс отступы*/
}

/*Site navigation*/
.site-navigation {
    width: 620px;
    margin: 0;
    padding: 0;
    min-height: 72px;

    list-style: none; /* делаем тоже самое со всеми элементами хедера */
}

/*user navigation*/
/*тут мы говорим, что все ссылки в сайт навигейшен и юзер навигейшен, а именно инфо, новости прайслист магазин и контакты. юзер навигейшен-вход имеют белый текст*/
.site-navigation a,
.user-navigation a {
    color: var(--extra-white);
}

/*тут мы говорим что и сайт навигейшену и юзер навигейшену ховер и фокус при наведении будут иметь черный фон*/
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user navigation a:focus {
    background-color: var(--basic-dark);
}

.user-navigation {
    max-width: 140px; /* спецом поставили здесь макс ширину, что бы другой блок (кнопка вход) не выебывалась, я не понимаю почему там не стоит min with но хуй знает*/

}

/*login link*/
.user-navigation .login-link {
    padding: 50px; /*хз куда столько а понял типа большая одна кнопка*/
}

/*Features*/
.features {
    margin-bottom: 70px;


}

.features-list {
    list-style: none;
    margin: 0;
    padding: 0; /*тк это список у него есть дополнительные свойства по этому убираем маржины и падинги*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* обрати внимание на колумс. 1фр ты знаешь уже что такое*/
    column-gap: 20px; /*сделали расстояние между объектами в колумне*/

}

.features-item {
    text-align: center; /*текст центрируем*/


}

.features-item p {
    margin: 0 10px; /*пидор вообще не сказал откуда он эту инфу взял*/
}

.features-item h3 { /*h3 это значит что мы применяем это правило к заголовкам которые в фучерзс айтем*/
    font-size: 30px;
    line-height: 42px;
}

/*тут мы натянули черный шрифт, и тему для плашки. а так же если картинка не загрузится, то подстраховали белым фоном. а так же зациклили фон указав репит*/

/*index-colums*/
.index-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    color: var(--basic-black);
    background-color: var(--extra-white);
    background-image: url("images/images_catalog/jpg/white background.jpg");
    background-position: center, 0 0;
    background-repeat: repeat;
}

.index-columns h2 {
    margin: 0;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 42px; /*просто указали размер шрифта*/
}

/*News*/
.news {
    width: 380px;
}

.news-item {
    margin-bottom: 25px;
}

.news-item p {
    margin: 0;
}


.news-list {
    list-style: none; /*убрали белые буллеты*/
}

/*Gallerey*/
.gallery {
    width: 300px;


}

.gallery-container {
    height: 260px; /*есди картинка не загрузится, то блок не схлопнется*/
}


.gallery-content {
    height: 164px;
    margin: 0;
    background-color: var(--ultra-grey);
    border: 7px solid var(--extra-white); /*кароче если галлерея срань не загрузиться, что бы все не выглядело как говно сплошная рамка, ключевое слово solid*/
}

.gallery-content img {
    width: 286px;
    height: 164px;
}

/*contacts*/
.contacts {
    width: 321px;

}

.contacts p {
    margin: 0;
    margin-bottom: 25px;
}

/*appointment*/
.appointment {
    width: 300px;

}

.appointment-info {
    margin: 0;
    margin-bottom: 15px;
}

.appointment-item {
    margin-top: 0;
    margin-bottom: 10px;
}

/*для кнопок которые не доступны (в фотогалерее кнопка назад, использую эти параметры. курсор не активен.*/

.appointment-item input {
    font: inherit; /*отнаследуйся*/
    background-color: transparent; /*фон прозрачный*/
    border: 2px solid var(--basic-black); /*Устанавливает стиль границы вокруг элемента. Допустимо задавать индивидуальные стили для разных сторон элемента.сплошная рамка, ключевое слово  solid*/
}

.appointment-item input:focus {
    border-color: var(--special); /*обводка поля*/
}

.appointment .button {
    margin-top: 10px;
    margin-right: 0;
}

/*Button*/
/*Тут мы будем настраивать кнопки, все кнопки настраиваются один раз на весь сайт*/
.button {
    display: inline-block; /*что бы кнопки стояли рядышком*/
    margin-right: 16px;

    font: inherit;
    /*значение итхерит-говорит, что бы шрифт отнаследовался от родителя т.к. все кнопки по умолчанию имеют свой шрифт. Тем самым мы говорим этой жопе
       что бы он наследовал от родителя и шел вплоть до цсс стилей, где у нас стоит шрифт который я указал сверху. пт санс*/
    text-align: center; /*центрируем текст на кнопках*/
    color: var(--extra-white);
    text-transform: uppercase; /*все пишется прописными буквами*/
    vertical-align: middle; /*Выравнивает элемент по вертикали относительно своего родителя, окружающего текста или ячейки таблицы.*/
    background-color: var(--basic-black);
    border: none; /*обводка по умолчанию у тега баттон есть*/

}

.button:active,
.button:hover,
.button:focus {

    background-color: var(--special); /*при ховере фокусе и активе цвет кнопки-коричневый*/
}

.button.disabled,
.button:disabled {
    cursor: default;
    opacity: 0.5; /*полупрозрачная*/
    background-color: var(--basic-black);
}


/*main footer*/
.main-footer { /* настраиваем футер, тут как и выше. цвет текста-белый, если картинка не загрузится фон черный, а так фон из директории как на макете. позицию и репит так же указали */
    padding: 59px;
    margin-top: 65px;
    color: var(--extra-white);
    background-color: var(--basic-black);
    background-image: url("images/images_catalog/jpg/black background.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.main-footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;


}

/*footer-cotnatcts*/
.footer-contacts {
    margin: 0;
    width: 373px;

}

.footer-contacts p {
    margin: 0;
}

.footer-contacts a { /*тут мы настраиваем футер контактс, а именно все ссылки. все ссылки у нас на макете белые */
    color: var(--extra-white);
    text-decoration: underline; /* у единсвтенной ссылки на стр есть подчеркивание нижнее, его мы и добавили. кнопка "как нас найти" */
}

.footer-contacts a:hover,
.footer-contacts a:focus { /*настраиваем ховер и фокус, что оно уходит*/
    text-decoration: none;
}
/*footer-social*/
.footer-social {
    width: 141px;
    justify-self: center;

    text-align: center;

}

.footer-social ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.footer-social h2 { /*размер ш2 в футер сошиал-давайте дружить*/
    font-size: 14px;
}
/*footer-copyright*/
.footer-copyright {
    justify-self: end;
    width: 140px;
}

.footer-copyright p {
    margin-bottom: 12px;
}

/*social button*/
.social-button {
    color: inherit; /*у ссылок по умолчанию синий цвет, по этому отправляем к родителю*/
}

.social-button:hover,
.social-button:focus {
    background-color: var(--extra-white);

}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
    color: var(--basic-black);
    background-color: var(--extra-white);
}

/*modal*/
.modal {
    color: var(--basic-black);
    background-color: var(--extra-white);
    background-image: url("images/images_catalog/jpg/white background.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.modal h2 {
    margin: 0;
    margin-bottom:15px;
    font-size: 30px;
    line-height: 42px;
}
.login-form p{
    margin: 0;
    margin-bottom: 10px;
}
.login-form .login-help{
    margin: 0;
    margin-bottom: 15px;
}

.modal a {
    color: var(--basic-black);
    text-decoration: underline;
}

/*login form*/
.login-form input[type="email"],
.login-form input[type="password"] {
    font: inherit; /*отнаследуйся*/
    color: var(--basic-black);
    background-color: transparent; /*фон прозрачный*/
    text-transform: uppercase; /*в логин форме все капсом*/
    border: 2px solid var(--basic-black); /*Устанавливает стиль границы вокруг элемента. Допустимо задавать индивидуальные стили для разных сторон элемента.сплошная рамка, ключевое слово  solid*/
}

.login-form input:focus {
    border-color: var(--special); /*обводка поля*/
}


.login-icon-user {
    background-image: url("images/images_catalog/jpg/account.svg");
    background-position: 270px center;
    background-repeat: no-repeat;
}

.login-icon-password {
    background-image: url("images/images_catalog/jpg/lock.svg");
    background-position: 270px center;
    background-repeat: no-repeat;
}

/*restore*/
.restore {
    color: var(--basic-black);
    text-decoration: underline;
}

.restore:hover,
.restore:focus {
    text-decoration: none;
}
